/* CSS Reset  */

*{
    margin: 0px;
    padding: 0px;
}

/* CSS Variables  */

:root{
    --navbar-height:40px;
}

#logo img{
    width: 50px;
    height: 50px;
}

/* Navigation Bar  */


#navbar{
    /* border: black 2px solid; */
    display: flex;
    align-items: center;
    position: sticky;
    top: 0px;
    /* justify-content: center; */

}
#navbar::before{
    content: "";
    background-color: black;
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0px;
    left: 0px;
    z-index: -1;
    opacity: 0.4;
    
}

/* Navigation Bar: List Styling  */
#navbar ul{
    /* border: 2px solid red; */
    display: flex;
}
#navbar ul li{
    /* text-decoration: none; */

    list-style: none;
    font-size: 1.3rem;
}

#navbar  ul li a{
    display: block;
    padding: 2px 20px;
    border-radius: 20px;
    text-decoration: none;
    color: white;
    
    
}
#navbar ul li a:hover{
    background-color: white;
    color: black;
    
    
    
}

#navbar ul{
    display: flex;
}

/* Navigation Bar:Logo and Image  */

#logo{
    margin: 5px 10px;}

#logo img{
    margin: 8px 27px}

 /* Home Section  */
 #home{
     /* positions: relative; */
     /* border: 2px solid black; */
     display: flex;
     align-items: center;
     justify-content: center;
     flex-direction: column;
     padding: 3px 200px;
     /* height: 455px; */
     height: 424px;

 }
 #home::before{
     top: 0px;
     left: 0px;
     content: "";
     background:url(../school.jpg) no-repeat center center/cover;
     position: absolute;
     height: 500px;
     width: 100%;
     z-index: -1;
     opacity: 0.89;
 }

 #home h1{
     /* border: 2px solid red; */
     color: white;
     text-align: center;
     font-family: 'Baloo 2', cursive
 }
 #home p{
     /* border: 2px solid blue; */
     color: blue;
     text-align: center;
     font-size: 1.5rem;
     font-family: 'Bree Serif', serif;
 }


 /* Services Section  */
  .services-container{
      /* border: 2px solid red; */
      /* margin: 150px 0px; */
      
     display: flex;
     flex-direction: column;
     align-items: center;
     justify-content: center;
     padding:0px 200px 
    
  } 
 #services{
     /* border: solid 2px blue; */
     /* margin: 34px; */
     display: flex;
     margin: 34px;
     /* flex-direction: row; */
     
 }
#services .box{
     /* border: 2px solid black; */
     /* display: flex;
     flex-direction: column;
     align-items: center;
     justify-content: center;
     padding: 2px 22px; */
     padding: 34px;
     margin:  3px 18px;
     border-radius: 23px;
     background-color: blanchedalmond;
     margin-bottom: 20px;
     
 }
#services .box img{
   display: block;
    margin: auto;
    height: 280px;
    width: 350px;
}
#services .box p{
    font-size: 1.3rem;
    font-family: 'Bree Serif', serif;
}
/* Client Section  */
#client-section{
    /* border: solid 2px red; */
    /* height: 344px; */
    position: relative;


}
#client-section::before{
    content: "";
    position: absolute;
    background: url(../bg.jpg);
    height: 100%;
    width: 100%;
    z-index: -1;
    opacity: .3;

}
#clients{
    /* border: black 2px solid; */
    display: flex;
    align-items: center;
    justify-content: center;

}
#clients img{
    height: 124px;
    /* width: 120px; */
}
.client-item{
    padding: 34px;
}

/* Contact Section  */
#contact{
    /* border: solid 2px red; */
    position: relative;
}
#contact::before{
    content: "";
    position: absolute;
    background: url(../contact.jpg) no-repeat center center/cover;
    height: 100%;
    width: 100%;
    z-index: -1;
    opacity: .4;
}
#contact-box{
    /* border: solid 2px blue; */
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 34px;
}
#contact-box input,
#contact-box textarea{
    width: 100%;
    padding: 0.5rem;
    border-radius: 9px;
    font-size: 1.1rem;

}
#contact-box form{
    width: 40%;

}
#contact-box label{
    font-size: 1.3rem;
    font-family: 'Bree Serif', serif;


}
 /* .box h1{
     border: 2px dashed blanchedalmond;
     display: flex;
     flex-direction: column;
     align-items: center;
     justify-content: center;
     padding: 2px 22px;
 } */

footer{
    background: black;
    color: white;
    padding: 9px 10px;
}
 /* Utility Classes */

 .h-primary{
     /* border: 2px solid black; */
     font-size: 2.8rem;
     padding: 12px;
     font-family: 'Bree Serif', serif;
 }


 
 .h-secondary{
     /* border: 2px solid black; */
     font-size: 1.5rem;
     padding: 12px;
     font-family: 'Bree Serif', serif;


 }

 .btn{
    padding: 6px 20px;
    border: 2px solid white;
    border-radius: 10px;
    color: white;
    background-color: brown;
    font-size: 1.2rem;
    cursor: pointer;
    margin: 0px 180px;
 }
 .center{
     text-align: center;
 }